body {
    background-color: hsl(196, 27%, 37%);
    color:rgb(0, 0, 0);
    font-size: 180%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin:0px;
    padding: 0px;
    min-height:100vh;
    display:grid;
    grid-template-rows: auto auto 1fr auto ;
}

a:link {color:rgba(201, 110, 87, 0.993);}
a:visited {color:crimson;}
a:hover {color:darkgreen;}
a:active {color:gold;}

.iconheader {
    height: 10vh;
    padding: 6%;
}

.pageheader {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(108, 132, 141);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navlinks a {
    text-decoration: none;
    font-size: 3vh;
    padding: 6px;
}

.navlinks {
    display:flex;
    flex-wrap: wrap;
}

.navigationicon {
    display: flex;
    justify-content: space-around;
    font-size: 120%;

}

.navbutton {
    background-color: rgb(172, 169, 169);
    width: 40px;
    height: 40px;
    border-color: slateblue;
    border-radius: 5px;
    display: none;
}

#search {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#search input {
    padding: 8px;
    border: solid   1px;
    border-right-style: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 250px;
}

#search button {
    padding: 8px;
    border: solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

nav a {
    text-decoration: none;
}
/* footer */
.mainfooter {
    font-size: 70%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(108, 132, 141);
    padding: 15px 5px 
}

.footernav {
    display:flex;
    flex-direction: column;
}

.socialnav {
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 120%;
}

.legalnav {
    display:flex;
    min-width: 100%;
    flex-direction: row;
    gap: 3em;
}

.footernav a, .legalnav a {
    color:#3a3939
}

/* carousel */
.slide {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:45vh;
    background-color: turquoise;
    flex-direction: column;
    background-size: cover;
    text-shadow: 0px 0px 4px black;
    color:rgb(255, 166, 0);
}


.slide:nth-child(1) {
    background-image: url(images/slides/pumpkin.jpg);
    background-position: center;
}

.slide button {
    padding:8px;
    background-color: rgb(255, 166, 0);
    min-width:200px;
    border:solid 1px;
    border-radius: 4px;;
}

/* product cards */
.maincontent {
    max-width: 90%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.prodCard img {
    max-width:100%;
}

.cardcontent {
    padding: 8px;
}

.prodCard button {
    min-width: 100%;
    padding: 12px;
    background-color: rgb(231, 230, 230);
    border-radius: 10px;
}

.prodCard{
    flex: 1;
    background-color: antiquewhite;
    border: 2px solid;
    border-radius: 15px;
    overflow: hidden;
}



/* banner 2 */
.banner2 {
    min-height: 25vh;
    margin-top: 30px;
    background: linear-gradient(to right,rgb(123, 172, 44) ,rgb(47, 107, 126));
    background: radial-gradient(circle, rgb(123, 172, 44) ,rgb(97, 168, 159));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner2 button {
    width: 30%;
}

/* KEEP THIS AT THE BOTTOM OR IT WILL BREAK */
@media screen and (max-width: 480px) {
    .navlinks {
        display: flex;
        order: 3;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top:100%;
        left:0px;
        background-color: rgb(78, 155, 155);
        margin:0;
        z-index: 999;
    }

    .navlinks.open {
        max-height: 25vh;
    }

    .navbutton {
        display:block;
        width:35px;
        height:35px;
    }

    #search button {
        display: none;
    }
    #search input {
        border-right: 1px solid;
        border-radius: 4px;
        min-width: 80px;
    }

    #search {
        max-width: 38vw;
    }

    .iconheader {
        height: 5.5vh;
        padding:3px;
        
    }

    .pageheader {
        padding: 5px;
        flex-wrap: wrap;
        position: relative;
        justify-content:space-evenly
    }

    .navigationicon{
        font-size: 100%;
        gap: 5px;
    }

    #usernav a:nth-child(1) {
        display:none;
    }

    .maincontent{
        max-width: 100vh;
    }
    .scrollBox{
        overflow:scroll;
        max-width: 100vh;
    }
    .cardContainer {
        display: flex;
        max-width: 100vw;
    }
    .prodCard {
        min-width:50vw;
        
    }
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}