body {
    background-color: hsl(196, 27%, 37%);
    color:rgb(0, 0, 0);
    font-size: 180%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url(https://cdn.wcs.org/2024/03/13/21/14/05/2d2c6f1b-71c4-4390-b7e2-deb21a0bc11f/shutterstock_2331893385.jpg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    margin:0px;
    padding: 0px;
}

a:link {color:rgba(201, 110, 87, 0.993);}
a:visited {color:crimson;}
a:hover {color:darkgreen;}
a:active {color:gold;}

.iconheader {
    height: 10vh;
    padding: 6%;
}

.pageheader {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(78, 155, 155);
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navlinks a {
    text-decoration: none;
    font-size: 3vh;
    padding: 6px;
}


.navigationicon {
    display: flex;
    justify-content: space-between;
    width: 10%;
    gap: 20%;
    margin-right:60px;
    font-size: 150%;
}

.navbutton {
    background-color: rgb(172, 169, 169);
    width: 40px;
    height: 40px;
    border-color: slateblue;
    border-radius: 5px;
    display: none;
}

#search {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#search input {
    padding: 8px;
    border: solid   1px;
    border-right-style: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    min-width: 250px;
}

#search button {
    padding: 8px;
    border: solid 1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* KEEP THIS AT THE BOTTOM OR IT WILL BREAK */
@media screen and (max-width: 480px) {
    .navlinks {
        display: flex;
        order: 3;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .navlinks.open {
        max-height: 25vh;
    }

    .navbutton {
        display:block;
        width:35px;
        height:35px;
    }

    #search button {
        display: none;
    }
    #search input {
        border-right: 1px solid;
        border-radius: 4px;
        min-width: 80px;
    }

    #search {
        max-width: 38vw;
    }

    .iconheader {
        height: 5.5vh;
        padding:3px;
        
    }

    .pageheader {
        padding: 5px;
        flex-wrap: wrap;
        gap: 0;
    }

    .navigationicon{
        font-size: 100%;
        gap: 5px;
    }

    #usernav a:nth-child(1) {
        display:none;
    }
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}